@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --main: #ffffff;
    --second: #987dfa;
    --third: #DFCCFB;
    --fourth: #BEADFA;
}

body {
    background-color: #987dfa;
    overflow: hidden;
}

.box {
    display: block;
    position: relative;
    border-radius: 16px;
    width: 90vw;
    height: 80vh;
    background: linear-gradient(245.59deg, #ffffff 0%, #D0BFFF 28.53%, #DFCCFB 75.52%);
    margin: 50px auto 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    color: var(--second);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 30px;
    font-size: 30px;
}

.logo h1{
    font-size: 35px;
}

.info .fa-circle-question{
    font-size: 50px;
    margin: 0 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.fa-circle-question:hover {
    color: var(--fourth);
}

.content {
    display: flex;
    width: 100%;
    height: 68%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: transparent;
    border: none;
}

.add-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.fa-solid {
    color: var(--second);
}

.add-btn .fa-solid {
    font-size: 125px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.add-btn .fa-solid:hover {
    color: var(--fourth);
}

@media only screen and (max-width: 445px) {
    .logo {
        font-size: 25px;
        margin: 0 25px;
    }
    
    .logo h1{
        font-size: 25px;
    }

    .info .fa-circle-question{
        font-size: 40px;
        margin: 0 25px;
    }

    .add-btn .fa-solid {
        font-size: 80px;
    }
}
